$dashboard-header-height: 1rem;
$dashboard-header-min-height: 0.5rem;

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.dashboard {
  display: flex;
  height: 100%;
  flex-direction: column;
  .header {
    width: 100%;
    min-height: $dashboard-header-min-height;
    // height: $dashboard-header-height;
    height: 50px;
    line-height: $dashboard-header-height;
    color: $app-title-color;
    background-color: $content-bgc;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    .title {
      margin-left: 0.46rem;
      // font-size: 0.48rem;
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
      fill: none;
      stroke-width: 2px;
      stroke-dasharray: 90 310;
      animation: stroke 6s infinite linear;
    }
    .title1 {
      stroke: $color-primary;
      text-shadow: 0 0 2px $color-primary;
      animation-delay: -1.5s;
    }
    .title2 {
      stroke: $color-warning;
      text-shadow: 0 0 2px $color-warning;
      animation-delay: -3s;
    }
    .title3 {
      stroke: $color-secondary;
      text-shadow: 0 0 2px $color-secondary;
      animation-delay: -4.5s;
    }
    .title4 {
      stroke: #3498db;
      text-shadow: 0 0 2px #3498db;
      animation-delay: -6s;
    }

    .descr {
      vertical-align: super;
      //margin-left: 26px;
      //font-size: 0.16rem;
      font-size: 16px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.28rem 0.24rem 0.24rem;
    padding: 15px 15px 0 15px;
    height: 100px;
    background-color: $content-bgc;
    border-radius: 12px;

    .content-title {
      margin-bottom: 0.24rem;
      padding-bottom: 0.26rem;
      font-size: 0;
      border-bottom: 1px solid $color-secondary;

      .tasks-title {
        font-size: 32px;
        color: $color-normal;
      }

      .category {
        font-size: 20px;
        color: rgba(153, 153, 153, 1);
        cursor: pointer;
        margin-left: 0.25rem;

        &.active {
          color: $color-primary;
        }
      }

      .actions {
        float: right;
        margin-top: 10px;
      }
    }

    .task-card {
      flex-grow: 1;
      height: 100px;
    }
  }
}
